/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: $color-grey-dark;
	padding: 3rem;
	box-sizing: border-box;
}

.header {
	height: 85vh;
	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary-light, 0.8),
			rgba($color-primary-dark, 0.8)
		),
		url(../img/hero-small.jpg);
	background-size: cover;
	background-position: top;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

	&__logo-box {
		position: absolute;
		top: 4rem;
		left: 4rem;
	}

	&__logo {
		height: 3.5rem;
	}

	&__text-box {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}

.heading-primary {
	color: $color-white;
	text-transform: uppercase;

	backface-visibility: hidden;
	margin-bottom: 6rem;

	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;
		animation-name: moveInLeft;
		animation-duration: 1s;
		animation-timing-function: ease-out;
	}

	&--sub {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 1rem;
		animation-name: moveInRight;
		animation-duration: 1s;
		animation-timing-function: ease-out;
	}
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}

	80% {
		transform: translate(1rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}

	80% {
		transform: translate(-1rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

.btn {
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all 0.2s;
		position: relative;
		font-size: 1.6rem;
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
		&::after {
			transform: scale(1.5);
			opacity: 0;
		}
	}

	&:active {
		transform: translateY(-1px);
		box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
	}

	&--white {
		background-color: $color-white;
		color: $color-grey-dark;
		&::after {
			background-color: $color-white;
		}
	}

	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}

	&--animated {
		animation: moveInBottom 0.5s ease-out 0.75s;
		animation-fill-mode: backwards;
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}
