///////////////////////////////
// LOGO

.logo {
	height: 3.25rem;
	margin-left: 3rem;
}

///////////////////////////////
// SEARCH

.search {
	flex: 0 0 40%;

	display: flex;
	align-items: center;
	justify-content: center;

	&__input {
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		background-color: var(--color-grey-light-2);
		border: none;
		padding: 0.7rem 2rem;
		border-radius: 99rem;
		width: 90%;
		transition: all 0.2s;
		margin-right: -3.5rem;

		&:focus {
			outline: none;
			width: 100%;
			background-color: var(--color-grey-light-3);
		}

		&::placeholder {
			font-weight: 100;
			color: var(--color-grey-light-4);
		}
	}

	&__input:focus + &__button {
		background-color: var(--color-grey-light-3);
	}

	&__button {
		border: none;
		background-color: var(--color-grey-light-2);

		&:focus {
			outline: none;
		}

		&:active {
			transform: translateY(2px);
		}
	}

	&__icon {
		height: 2rem;
		width: 2rem;
		fill: var(--color-grey-dark-3);
	}
}

//////////////////////////////
// USER NAV

.user-nav {
	&__icon-box {
	}

	&__icon {
		height: 2.25rem;
		width: 2.25rem;
	}

	&__notification {
	}

	&__user {
	}

	&__user-photo {
		height: 3.75rem;
		width: 3.75rem;
		border-radius: 50%;
	}

	&__user-name {
	}
}
