///////////////////////////////
// LOGO

.logo {
	height: 3.25rem;
	margin-left: 2rem;
}

///////////////////////////////
// SEARCH

.search {
	flex: 0 0 40%;

	display: flex;
	align-items: center;
	justify-content: center;

	&__input {
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		background-color: var(--color-grey-light-2);
		border: none;
		padding: 0.7rem 2rem;
		border-radius: 99rem;
		width: 90%;
		transition: all 0.2s;
		margin-right: -3.5rem;

		&:focus {
			outline: none;
			width: 100%;
			background-color: var(--color-grey-light-3);
		}

		&::placeholder {
			font-weight: 100;
			color: var(--color-grey-light-4);
		}
	}

	&__input:focus + &__button {
		background-color: var(--color-grey-light-3);
	}

	&__button {
		border: none;
		background-color: var(--color-grey-light-2);

		&:focus {
			outline: none;
		}

		&:active {
			transform: translateY(2px);
		}
	}

	&__icon {
		height: 2rem;
		width: 2rem;
		fill: var(--color-grey-dark-3);
	}
}

//////////////////////////////
// USER NAV

.user-nav {
	align-self: stretch;

	display: flex;
	align-items: center;

	& > * {
		padding: 0 2rem;
		cursor: pointer;
		height: 100%;
		display: flex;
		align-items: center;
	}

	& > *:hover {
		background-color: var(--color-grey-light-2);
	}

	&__icon-box {
		position: relative;
	}

	&__icon {
		height: 2.25rem;
		width: 2.25rem;
		fill: var(--color-grey-dark-2);
	}

	&__notification {
		font-size: 0.8rem;
		height: 1.75rem;
		width: 1.75rem;
		border-radius: 100%;
		background-color: var(--color-primary);
		color: #fff;
		position: absolute;
		top: 1.5rem;
		right: 1.1rem;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__user-photo {
		height: 3.75rem;
		width: 3.75rem;
		border-radius: 50%;
		margin-right: 1rem;
	}
}

///////////////////////////////////
/// SIDE NAV

.side-nav {
	font-size: 1.4rem;
	list-style: none;
	margin-top: 3.5rem;

	&__item {
		position: relative;

		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}

	&__item::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 3px;
		background-color: var(--color-primary);
		transform: scaleY(0);
		transition: transform 0.2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s,
			background-color 0.1s;
	}

	&__item:hover::before,
	&__item--active::before {
		transform: scaleY(1);
		width: 100%;
	}

	&__item:active::before {
		background-color: var(--color-primary-light);
	}

	&__link:link,
	&__link:visited {
		color: var(--color-grey-light-1);
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		padding: 1.5rem 3rem;
		position: relative;
		z-index: 10;

		display: flex;
		align-items: center;
	}

	&__icon {
		width: 1.75rem;
		height: 1.75rem;
		margin-right: 2rem;
		fill: currentColor;
	}
}

//////////////////////////////////
/// LEGAL TEXT

.legal {
	color: var(--color-grey-light-4);
	font-size: 1.2rem;
	text-align: center;
	padding: 2.5rem;
}
