.popup {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba($color-black, 0.8);
	z-index: 9999;

	&__content {
		@include absCenter;

		display: table;
		width: 75%;
		background-color: $color-white;
		box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
		border-radius: 3px;
	}

	&__left {
		width: 33.33333%;
		display: table-cell;
	}

	&__right {
		width: 66.66667%;
		display: table-cell;
		vertical-align: middle;
		padding: 3rem 5rem;
	}

	&__img {
		display: block;
		width: 100%;
	}

	&__text {
		font-size: 1.5rem;
		margin-bottom: 4rem;

		column-count: 2;
		column-gap: 4rem;
		column-rule: 1px solid $color-grey-light-2;

		hyphens: auto;
	}
}
